.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5rem;
  margin: 27px;

}

.heading {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: aliceblue;
}



.cartadd {
  display: flex;
  justify-content: end;
  font-size: larger;
  margin: 10px;

}